name: MLflow CI Skilled

on:
    push:
        branches:
            - main
    workflow_dispatch:

jobs:
    run-training-pipeline:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4
            - name: Set up Conda Environment
              uses: conda-incubator/setup-miniconda@v2
              with:
                activate-environment: mlflow-ci-env
                environment-file: MLProject/conda.yaml
                auto-activate-base: false
            - name: Tampilkan Environment
              shell: bash
              run: |
                echo "--- (Debug) Tampilkan environment ---"
                echo "Aktivasi env: $CONDA_DEFAULT_ENV"
                echo "Lokasi Python:"
                which python
                echo "Versi Python:"
                python --version
                echo "Daftar paket Pip:"
                pip list
                echo "-----------------------------------"
            - name: Run Training Script (Manual)
              shell: bash
              env:
                MLFLOW_TRACKING_URI: ${{ secrets.MLFLOW_TRACKING_URI }}
                DAGSHUB_USERNAME: ${{ secrets.DAGSHUB_USERNAME }}
                DAGSHUB_TOKEN: ${{ secrets.DAGSHUB_TOKEN }}
                # Untuk mlflow murni
                MLFLOW_TRACKING_USERNAME: ${{ secrets.DAGSHUB_USERNAME }}
                MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}
              run: |
                echo "--- Menjalankan Skrip Training ---"
                # Environment sudah aktif dari langkah 'setup-miniconda'
                # karena menggunakan 'shell: bash'
                python MLProject/modelling.py \
                    --alpha 0.0001 \
                    --loss "log_loss" \
                    --penalty "l2" \
                    --max_iter 1000