name: MLflow CI Basic

on:
    push:
        branches:
            - main
    workflow_dispatch: # izinkan run manual

jobs:
    run-mlflow-project:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4
            - name: Set up Python 3.12
              uses: actions/setup-python@v4
              with:
                python-version: '3.12.7'
            - name: Install MLflow dependencies
              run: |
                pip install --upgrade pip
                pip install mlflow==2.19.0 dagshub
            - name: Run MLflow Project
              env:
                MLFLOW_TRACKING_URI: ${{ secrets.MLFLOW_TRACKING_URI }}
                DAGSHUB_USERNAME: ${{ secrets.DAGSHUB_USERNAME }}
                DAGSHUB_TOKEN: ${{ secrets.DAGSHUB_TOKEN }}
                # Untuk mlflow murni
                MLFLOW_TRACKING_USERNAME: ${{ secrets.DAGSHUB_USERNAME }}
                MLFLOW_TRACKING__TOKEN: ${{ secrets.DAGSHUB_TOKEN }}
              run: mlflow run MLProject/